<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Tu Sach Kiem Hiep</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Expires" content="0"/>
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

    <!-- build:css -->
    <link rel="stylesheet" href="styles/roboto.css">
    <link rel="stylesheet" href="styles/angular-material.min.css" />
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>

  <body ng-app="tusachangApp" ng-controller="MainCtrl as mainCtrl" id="popupContainer">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div>
      <md-toolbar flex layout="row" class="md-medium" layout-align="start center">
        <div flex class="title">Thu Vien Online</div>
        <div layout="row" ng-if="mainCtrl.isLogin() != true" layout-align="end center">
          <input type="text" ng-model="mainCtrl.username" ng-enter="mainCtrl.signInOut()" id="username">
          <input type="password" ng-model="mainCtrl.password" ng-enter="mainCtrl.signInOut()" id="password">
          <md-button class="toolbar-button" ng-click="mainCtrl.signInOut()">
            <md-tooltip>Login</md-tooltip>
            <md-icon md-svg-icon="person" ></md-icon>
          </md-button>
        </div>

        <div layout="row" ng-if="mainCtrl.isLogin() == true" layout-align="end center">
          <label id="label-logon-user">{{MainCtrl.logonUser.name}}</label>
          <md-button class="toolbar-button" ng-click="mainCtrl.signInOut()">
            <md-tooltip>Logout</md-tooltip>
            <md-icon md-svg-icon="person" ></md-icon>
          </md-button>
        </div>
      </md-toolbar>

      <md-tabs md-selected="selectedIndex" md-dynamic-height md-border-bottom>
        <md-tab label="Bookshelf" ui-sref="bookshelf">
        </md-tab>
        <md-tab ng-disabled="mainCtrl.isLogin() != true" label="Create Book" ui-sref="createBook">
        </md-tab>
      </md-tabs>
      <div ui-view></div>
    </div>

    <!-- bower:js -->
    <script src="lib/angular.min.js"></script>
    <script src="lib/angular-animate.min.js"></script>
    <script src="lib/angular-aria.min.js"></script>
    <script src="lib/angular-cookies.min.js"></script>
    <script src="lib/angular-resource.min.js"></script>
    <script src="lib/angular-route.min.js"></script>
    <script src="lib/angular-sanitize.min.js"></script>
    <script src="lib/angular-material.min.js"></script>
    <script src="lib/angular-ui-router.min.js"></script>
    <script src="lib/angular-base64.min.js"></script>
    <script src="lib/matchmedia-ng.js"></script>
    <!-- endbower -->

    <!-- scripts:js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/directives/ng-enter.js"></script>
    <script src="scripts/services/book-service.js"></script>
    <script src="scripts/services/login-service.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/controllers/login.js"></script>
    <script src="scripts/controllers/bookshelf.js"></script>
    <script src="scripts/controllers/bookdetail.js"></script>
    <script src="scripts/controllers/createbook.js"></script>
    <!-- endscripts -->
</body>
</html>
