<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Tyco</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>

  <body ng-app="tusachangApp" ng-controller="MainCtrl as mainCtrl">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div>
      <md-toolbar flex layout="row" class="md-medium" layout-align="start center">
      	<md-button md-no-ink class="border-red" style="min-width: 36px; padding:0px; margin:0px">
		      <md-icon md-svg-icon="core:arrow-down" style="color:yellow; width:48px; height:48px">?</md-icon>
      	</md-button>
        <div flex class="title">Tyco PCP-100</div>
        <div layout="row" ng-if="$root.isLogin != true" layout-align="end center">
          <input type="text" ng-model="mainCtrl.username" ng-enter="mainCtrl.signInOut()" id="username">
          <input type="password" ng-model="mainCtrl.password" ng-enter="mainCtrl.signInOut()" id="password">
          <md-button class="toolbar-button" ng-click="mainCtrl.signInOut()">
            <md-tooltip>Login</md-tooltip>
            <md-icon md-svg-icon="person" ></md-icon>
          </md-button>
        </div>

        <div layout="row" ng-if="$root.isLogin == true" layout-align="end center">
          <label id="label-logon-user">{{$root.logonUser.name}}</label>
          <md-button class="toolbar-button" ng-click="mainCtrl.signInOut()">
            <md-tooltip>Logout</md-tooltip>
            <md-icon md-svg-icon="person" ></md-icon>
          </md-button>
        </div>
      </md-toolbar>

      <div ng-controller="BookshelfCtrl as bookshelf">
        <md-input-container style="width:200px; padding:5px;margin:0px;" class="border-yellow">
  				<label flex-order="1">Sort By</label>
          <md-select ng-model="bookshelf.sortBy" style="width:100%;">
  					<md-option ng-repeat="sortBy in bookshelf.sortRange" value="{{sortBy}}">{{sortBy.name}}</md-option>
  				</md-select>
  			</md-input-container>
      </div>
    </div>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/directives/ng-enter.js"></script>
        <script src="scripts/services/book-service.js"></script>
        <script src="scripts/services/login-service.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/login.js"></script>
        <script src="scripts/controllers/bookshelf.js"></script>
        <script src="scripts/controllers/bookdetail.js"></script>
        <script src="scripts/controllers/createbook.js"></script>
        <!-- endbuild -->
</body>
</html>
