/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
html {
  height: 95%;
}
body {
  background: url("/assets/images/background.png");
  min-height: 100%;
}
