*.a
*.o
*.so
*.log
*.exe
*.go~
**/.idea
BAK/*
server/pkg/*
server/test/*
tusachdart/build
tusachdart/packages
tusachdart/web
tusachang/bower_components
tusachang/node_modules
tusachang/test
dist/*
