*.a
*.o
*.so
*.log
*.go~
**/.idea
BAK/*
server/pkg/*
server/test/*
tusachdart/build
tusachdart/packages
tusachdart/web
tusachang/bower_components
tusachang/node_modules
tusachang/test
dist/*
archive/*
tusach-win.tar.gz
tusach-win.tar.gz
library.archive/*
