<div class="panel-bookshelf" flex>
	<md-progress-linear ng-if="bookshelf.loading" md-mode="indeterminate"></md-progress-linear>
	<div layout="row" style="margin-left: 20px; margin-top:5px" layout-align="start end">
		<div>
			<md-input-container style="padding:0px;margin:0px;">
				<md-select ng-model="bookshelf.sortBy" ng-model-options="{trackBy: '$value.desc'}" style="width:100%;" ng-change="bookshelf.sort()">
					<md-option ng-repeat="option in bookshelf.sortRange" ng-value="{{option}}">{{option.desc}}</md-option>
				</md-select>
			</md-input-container>
		</div>
		<div style="margin-left: 20px">
			<span flex ng-if="bookshelf.statusMessage.length > 0" class="{{bookshelf.statusType}}Message-bookshelf">{{bookshelf.statusMessage}}</span>
		</div>
	</div>

 <md-content>
    <md-list>
      <md-list-item class="md-2-line" ng-repeat="book in bookshelf.books">
				<md-button ng-href="{{bookshelf.getDownloadLink(book)}}" style="min-width:58px;height:48px;" aria-label="{{book.title}}">
					<img src="./images/book.png">
				</md-button>

        <div class="md-list-item-text" layout="column">
          <p style="color:blue;">{{book.title}} ({{book.currentPageNo}}/{{book.maxNumPages}})</p>
          <p>{{book.createdBy}}, {{book.lastUpdatedTime | date:'dd/MM/yyyy HH:mm:ss'}}, {{book.status}}</p>
        </div>

        <md-button style="min-width:40px;" ng-disabled="!bookshelf.canUpdate(book, 'resume')" ng-click="bookshelf.update(book, 'resume')">
          <md-tooltip>Resume</md-tooltip>
          <md-icon md-svg-icon="core:resume" style="width:36px; {{bookshelf.canUpdate(book, 'resume') ? 'color: blue' : 'color: grey'}}"></md-icon>
        </md-button>
        <md-button style="min-width:40px;" ng-disabled="!bookshelf.canUpdate(book, 'delete')"  ng-click="bookshelf.update(book, 'delete')">
          <md-tooltip>Delete</md-tooltip>
          <md-icon md-svg-icon="core:delete" style="{{bookshelf.canUpdate(book, 'delete') ? 'color: red' : 'color: grey'}}" ></md-icon>
        </md-button>

      </md-list-item>
    </md-list>
  </md-content>

</div>
