<md-bottom-sheet class="md-has-header">

  <md-subheader>{{book.title}}</md-subheader>
  
	<md-progress-linear ng-if="loading" md-mode="indeterminate"></md-progress-linear>
	<span ng-if="statusMessage.length > 0" class="{{statusType}}Message-bookshelf">{{bookshelf.statusMessage}}</span>
  
  <div layout="column" layout-align="center center">
  	<div flex layout="row" class="row-bookdetail">
	    <md-input-container class="field-bookdetail-first">
	      <label>Title</label>
	      <input ng-model="book.title">
	    </md-input-container>
	    <md-input-container class="field-bookdetail-second">
	      <label>Author</label>
	      <input ng-model="book.author">
	    </md-input-container>
  	</div>
  
  	<div flex layout="row" class="row-bookdetail">
	    <md-input-container class="field-bookdetail-first">
	      <label>Last Update Time</label>
	      <input readonly ng-model="book.lastUpdatedTime">
	    </md-input-container>
	    <md-input-container class="field-bookdetail-remaining">
	      <label>Status</label>
	      <input readonly ng-model="book.statusSummary">
	    </md-input-container>
	  </div>
      	    
    <div flex layout="row" class="row-bookdetail">
      <md-input-container  class="field-bookdetail-first">
        <label>Current Page No</label>
        <input readonly ng-model="book.currentPageNo">
      </md-input-container>
      <md-input-container class="field-bookdetail-second">
        <label>Max Num Pages</label>
        <input ng-model="book.maxNumPages">
      </md-input-container>
    </div>
    
    <md-input-container class="row-bookdetail">
      <label>Start Page URL</label>
      <input readonly ng-model="book.startPageUrl">
    </md-input-container>
    <md-input-container class="row-bookdetail">
      <label>Current Page URL</label>
      <input ng-model="book.currentPageUrl">
    </md-input-container>

    <div>
      <md-button ng-if="book.status != 'WORKING' && book.epubCreated" ng-click="download()" class="md-raised md-primary">Download</md-button>
      <md-button ng-if="canUpdate('delete')" ng-click="update('delete')" class="md-raised md-warn">Delete</md-button>
      <md-button ng-if="canUpdate('resume')" ng-click="update('resume')" class="md-raised md-primary">Resume</md-button>
      <md-button ng-if="canUpdate('update')" ng-click="update('update')" class="md-raised md-primary">Save Changes</md-button>
    </div>

  </div>
</md-bottom-sheet>