<md-bottom-sheet class="md-has-header">
  <md-subheader>{{book.title}}</md-subheader>
  <div layout="column" layout-align="center center">
    <md-input-container class="field-bookdetail-statusSummary">
      <label>Status</label>
      <input readonly ng-model="book.statusSummary">
    </md-input-container>
    <div layout class="field-bookdetail-pages">
      <md-input-container flex>
        <label>Current Page No</label>
        <input readonly ng-model="book.currentPageNo">
      </md-input-container>
      <md-input-container flex>
        <label>Max Num Pages</label>
        <input ng-model="book.maxNumPages">
      </md-input-container>
    </div>
    <md-input-container class="field-bookdetail-author">
      <label>Author</label>
      <input ng-model="book.author">
    </md-input-container>
    <md-input-container class="field-bookdetail-createdTime">
      <label>Created Time</label>
      <input readonly ng-model="book.createdTime">
    </md-input-container>
    <md-input-container class="field-bookdetail-startPageUrl">
      <label>Start Page URL</label>
      <input readonly ng-model="book.startPageUrl">
    </md-input-container>
    <md-input-container class="field-bookdetail-currentPageUrl">
      <label>Current Page URL</label>
      <input ng-model="book.currentPageUrl">
    </md-input-container>

    <div>
      <md-button ng-if="book.status != 'WORKING' && book.epubCreated" ng-click="download()" class="md-raised md-primary">Download</md-button>
      <md-button ng-if="book.status != 'WORKING'" ng-click="delete()" class="md-raised md-warn">Delete</md-button>
      <md-button ng-if="book.status != 'WORKING'" ng-click="resume()" class="md-raised md-primary">Resume</md-button>
      <md-button ng-if="book.status != 'WORKING'" ng-click="save()" class="md-raised md-primary">Save Changes</md-button>
    </div>

  </div>
</md-bottom-sheet>