/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

body {
  padding: 10px;
}

/* stock list header row */
.bookListHeader {
  background-color: #2062B8;
  color: white;
  font-style: italic;
}

/* stock list flex table */
.bookListTable {
  border: 1px solid silver;
  padding: 2px;
  margin-bottom:6px;
}

/* stock list Price and Change fields */
.bookListNumericColumn {
  text-align: right;
  width:8em;
}
.borderRound {
	border: 1px skyblue;
	border-radius: 5px;
}
.margin-left {
	margin-left: 10px;
}
.margin-top {
	margin-top: 10px;
}
.floatLeft {
	float: left;
}
.errorLabel {
	color: red;
	font-weight: bold;
}

.important {
	font-weight: bold;
}
		
.borderPanel {
	margin: 10px 10px 10px 10px;
	border: 3px solid skyblue;
	border-radius: 5px;
}

.profileTable {
	margin: 10px 10px 10px 10px;
	padding: 10px;
	border: 3px solid skyblue;
	border-radius: 5px;
}

.createTable {
	margin: 10px 10px 10px 10px;
	padding: 10px;
	border: 3px solid skyblue;
	overflow: visible;
	border-radius: 5px;
}
		
.background {
	background-repeat: repeat;
	background-image: url(images/background.jpg);
}

.title {
	color: blue;
	margin-left: 10px;
	margin-top: 10px;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
}

.siteLinks {
	color: blue;
	font-style: italic;
	font-size: 12px;
}

.floatLeft {
	float: left;
}

.createTable {
	padding-left: 10px;
	padding-bottom: 5px;
}

.bottomPanel {	
	clear: both;
}

.disclosureHeader {
	float: left;
	font-weight: bold;
}

.scriptControlPanel {
	margin: 10px 10px 10px 10px;
	padding: 10px;
	border: 3px solid skyblue;
	border-radius: 5px;
}

.scriptTextArea {
	margin: 10px 10px 10px 10px;
	border: 3px solid skyblue;
	border-radius: 5px;
}
