#
# Copy to /etc/systemd/system/
#

[Unit]
Description=DV Tusach
Wants=network.target
After=network.target

[Service]
Type=forking
PIDFile=/home/osmc/dev/tusach/dist/tusach.pid
ExecStart=/home/osmc/dev/tusach/dist/tusach.sh start
ExecStop=/home/osmc/dev/tusach/dist/tusach.sh stop
#RestartSec=2
Restart=on-failure
User=administrator

[Install]
WantedBy=multi-user.target
