html, body {
  font-family: 'Roboto', sans-serif;
  font-size:14px;
  height:100%;
  margin: 0px;
  padding: 0px;
  overflow: visible;
}

.title {
  font-size:18px;
  margin-left: 10px;
}

.menu {
  background-color: transparent;
  border: none;
  height: 38px;
  margin: 16px;
  width: 36px;
}

md-button.menuBtn > md-icon {
  fill:white;
  width:24px;
  height:24px;
}

.toolbar-button {
  min-width: 20px;
}

#username, #password {
  padding-left: 5px;
  font-size:12px;
  width: 70px;
  height: 25px;
  color: blue;
  margin-right: 10px;
  border-radius: 3px;
  background-color: #F0F0F0;
}

#label-logon-user {
  font-size:12px;
}

md-tabs {
  background-color: #E8E8E8;
}

md-toolbar.md-accent > md-tabs.md-default-theme, md-tabs > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]) {
  color: white;
}

md-tabs > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]).md-active, md-tabs > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]).md-focused {
  color: blue;
  font-weight: bold;
}

md-bottom-sheet  md-icon {
  margin-right:20px;
}

span.name {
  font-weight: bold;
  font-size:1.1em;
  padding-left:5px;
}

.panel-main {
	width: 90%;
	margin: 20px;
	background-color: white;
	border-radius: 5px;
	-webkit-user-select: none;
  overflow: auto;
}

div[class^="panel-"] {
	margin-top: 20px;
	margin-bottom: 20px;
  overflow : auto;
}

md-input-container[class^="row-bookdetail"], div[class^="row-bookdetail"] {
  width: 80%;
}

md-input-container[class^="field-bookdetail-first"], div[class^="field-bookdetail-first"] {
	width:400px;
	max-width:600px;
}

md-input-container[class^="field-bookdetail-second"], div[class^="field-bookdetail-second"] {
	margin-left:20px;
	width:400px;
	max-width:600px;
}

md-input-container[class^="field-bookdetail-remaining"], div[class^="field-bookdetail-remaining"] {
	margin-left:20px;
	width:80%;
	max-width:600px;
}

md-input-container[class^="field-createbook"], div[class^="field-createbook"] {
  width: 80%;
}

input[readonly] {
	color: blue;
}

md-input-container .md-input {
  border-color: blue;
}

md-bottom-sheet > .md-subheader {
  font-size: 16px;
  line-height: 25px;
}

md-bottom-sheet md-input-container {
  padding-bottom: 5px;
}

.panel-createbook {
  margin-left : 20px;
  margin-right: 20px;
}

span[class^="errorMessage-"] {
	color: red;
	margin-bottom: 20px;
}

span[class^="infoMessage-"] {
	color: blue;
	margin-bottom: 20px;
}

md-grid-list md-grid-tile figure {
  align-items: flex-start;
}

.border-red {
	border-style: solid;
	border-width: 2px;
	border-color: red;
}

.border-cyan {
	border-style: solid;
	border-width: 2px;
	border-color: cyan;
}

.border-yellow {
	border-style: solid;
	border-width: 2px;
	border-color: yellow;
}
